* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 12px;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    position: absolute;
    transform: translateY(-240px);
    max-width: 300px;
}

.quizz {
    position: absolute;
    transform: translateY(-190px);
    max-width: 100px;
}

.question {
    position: absolute;
    width: 300px;
    text-align: center;
    transform: translateY(-140px);
    font-size: 20px;
    background-color: #6d5872;
    color: #fff;
}

.cover-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 20px;
    width: 283px;
    height: 220px;
    border: 3px solid #575757;
    border-radius: 30px;
    background-color: #fff;
    z-index: 2;
}

p {
    font-weight: 700;
    color: #575757;
}

.cover-two {
    position: absolute;
    width: 283px;
    height: 220px;
    border: 3px solid #575757;
    border-radius: 30px;
    background-color: #ffc0b7;
    z-index: 1;
    transform: rotate(-3deg);
}

#main-button,
#main-button-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 255px;
    height: 46px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid #575757;
    cursor: pointer;
}

.answer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    background-color: white;
    border: 3px solid #575757;
}

span {
    font-size: 20px;
    font-weight: 700;
    color: #575757;
    transform: translateY(1px);
}

.checkbox {
    visibility: hidden;
    width: 20px;
    height: 20px;
    border-radius: 80%;
    color: #575757;
    background-color: #48f359;
    border: 2px solid #575757;
}

.checkbox-two {
    visibility: hidden;
    width: 20px;
    height: 20px;
    border-radius: 80%;
    color: #575757;
    background-color: #ff725e;
    border: 2px solid #575757;
}

#main-button:focus {
    background-color: #d9edff;
}

#main-button:active {
    background-color: #d9edff;
}

#main-button-two:focus {
    background-color: #ffc0b7;
}

#main-button-two:active {
    background-color: #ffc0b7;
}

#main-button:focus .checkbox {
    visibility: visible;
}

#main-button:active .checkbox {
    visibility: visible;
}

#main-button-two:focus .checkbox-two {
    visibility: visible;
}

#main-button-two:active .checkbox-two {
    visibility: visible;
}

.paragraph {
    width: 152px;
    text-align: left;
    font-weight: 400;
}

#result {
    position: absolute;
    font-size: 16px;
    color: #575757;
    transform: translateY(145px);
}

#next-question {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 235px;
    height: 44px;
    background-color: #6d5872;
    transform: translateY(200px);
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}